    <% <!-- Include the header --> %>

    <% include ../header %>

    <% <!-- Main section --> %>

    <div class = "row">
        <div class = "col-xs-12 admin_wrapper">

            <!-- Books -->
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2 admin books">

                    <!-- Title -->
                    <h2 class = "window_title">

                        <i class = "material-icons ">library_books</i>

                        Books

                        <!-- Search button -->
                        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>
                
                        <!-- toggle button -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">

                        <!-- Search bar -->
                        <div class = "search_bar">
                            <label for = "search_field" class = "material-icons">search</label>
                            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
                            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
                        </div>
                        
                        <% <!-- Books list --> %>
                        <div class = "books">
                            <% books.forEach(function(book) { %>
        
                                <p class = "category_items">
                                    <%= book.title %>
                                    <a href = "#" class = "material-icons delete">delete</a>
                                </p>
        
                            <% }) %>   
                        </div>
            
                    </div>

                </div>
            </div>

            <!-- Authors -->
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2 admin authors">

                    <!-- Title -->
                    <h2 class = "window_title">

                        <i class = "material-icons ">people</i>

                        Authors

                        <!-- Search button -->
                        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>

                        <!-- toggle button -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">

                        <!-- Search bar -->
                        <div class = "search_bar">
                            <label for = "search_field" class = "material-icons">search</label>
                            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
                            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
                        </div>

                        <% <!-- Authors list --> %>
                        <div class = "authors">
                            <% authors.forEach(function(author) { %>
        
                                <p class = "category_items">
                                    <%= author.name %>
                                    <a href = "#" class = "material-icons delete">delete</a>
                                </p>
        
                            <% }) %>   
                        </div>

                    </div>

                </div>
            </div>

            <!-- Genres -->
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2 admin genres">

                    <!-- Title -->
                    <h2 class = "window_title">

                        <i class = "material-icons ">view_agenda</i>

                        Genres

                        <!-- Search button -->
                        <a href = "#" class = "material-icons search_button button" title = "Search">search</a>

                        <!-- toggle button (active on start) -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_down</a>

                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">

                        <!-- Search bar -->
                        <div class = "search_bar">
                            <label for = "search_field" class = "material-icons">search</label>
                            <input type = "text" placeholder = "Search" id = "search_field" autocomplete = "off"></input>
                            <i id = "clear_search" class = "material-icons" title = "Clear">close</i>
                        </div>

                        <% <!-- Books list --> %>
                        <div class = "genres">
                            <% genres.forEach(function(genre) { %>
        
                                <p class = "category_items">
                                    <%= genre.name %>
                                    <!-- <a href = "#" class = "material-icons edit">mode_edit</a> -->
                                    <a href = "#" class = "material-icons delete">delete</a>
                                </p>
        
                            <% }) %>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


<% <!--Closing tag for the fluid container  --> %>
</div>