    <% <!-- Include the header --> %>

    <% include ../header %>

    <% <!-- Main section --> %>

    <div class = "row">
        <div class = "col-xs-12 admin_wrapper">

            <!-- Books -->
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2 admin books">

                    <!-- Title -->
                    <h3 class = "window_title">

                        <i class = "material-icons ">library_books</i>

                        Books

                        <!-- toggle button -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_up</a>

                    </h3>

                    <!-- Window body -->
                    <div class = "window_body">
                        <p>Books</p>
                    </div>

                </div>
            </div>

            <!-- Authors -->
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2 admin authors">

                    <!-- Title -->
                    <h3 class = "window_title">

                        <i class = "material-icons ">people</i>

                        Authors

                        <!-- toggle button -->
                        <a href = "#" class = "material-icons toggle_button button"
                        title = "Toggle">keyboard_arrow_up</a>

                    </h3>

                    <!-- Window body -->
                    <div class = "window_body">
                        <p>Authors</p>
                    </div>

                </div>
            </div>

            <!-- Genres -->
            <div class = "row">
                <div class = "window col-md-8 col-md-offset-2 admin genres">

                    <!-- Title -->
                    <h3 class = "window_title">

                        <i class = "material-icons ">view_agenda</i>

                        Genres

                         <!-- toggle button -->
                         <a href = "#" class = "material-icons toggle_button button"
                         title = "Toggle">keyboard_arrow_up</a>

                    </h3>

                    <!-- Window body -->
                    <div class = "window_body">
                        <p>Genres</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- <h2>Admin page in progress...</h2> -->

<% <!--Closing tag for the fluid container  --> %>
</div>