<% <!-- Success string and link to homepage --> %>
<p class = "populate_string">
    <i class = "material-icons">done</i><br>
    Successfully populated the database
</p>
<a href = "/" class = "home_button">Home </a>