    <% <!-- Include the header --> %>
    
    <% include ../header %>
 
    <% <!-- Main section --> %>

    <div class = "row">
        <div class = "col-xs-12 catalog_wrapper">             
             
            <% <!-- Selection windows (hidden on start)--> %>
            
            <div class = "row">

                <% <!-- Movies --> %>
                <div class = "window col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-2 selection_window" 
                style = "display: none">
                    <a class = "movies" href = "/catalog/movies">
                        <i class = "material-icons ">library_movies</i>
                        Movies
                    </a>
                </div>

                <% <!-- Directors --> %>
                <div class = "window col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-1 selection_window"
                style = "display: none">
                    <a class = "directors" href = "/catalog/directors">
                        <i class="material-icons">people</i>
                        Directors
                    </a>
                </div>

                <% <!-- Genres --> %>
                <div class = "window col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-1 selection_window"
                style = "display: none">
                    <a class = "genres" href = "/catalog/genres">
                        <i class="material-icons">view_agenda</i>
                        Genres
                    </a>
                </div>

            </div>

             
            <% <!-- Selection bar --> %>
            
            <div class = "row">
                <div class = "window col-xs-12 col-md-8 col-md-offset-2 selection_bar" style = "display: block">

                    <% <!-- Movies --> %>
                    <a class = "movies" href = "/catalog/movies">
                        <i class = "material-icons ">library_movies</i>
                        Movies
                    </a>

                    <% <!-- Directors --> %>
                    <a class = "directors" href = "/catalog/directors">
                        <i class="material-icons">people</i>
                        Directors
                    </a>

                    <% <!-- Genres --> %>
                    <a class = "genres" href = "/catalog/genres">
                        <i class="material-icons">view_agenda</i>
                        Genres
                    </a>

                </div>
            </div>
             

            <% <!-- Catalog window --> %>

            <% include catalog_ajax/category_ajax %>
            
            
            
        </div>
    </div>
    
    
    <% <!--Closing tag for the fluid container  --> %>
</div>