<!DOCTYPE html>
<html>
  <head>
    <% include presets/head.ejs %>
  </head>
  <body>
    <% if(typeof category !== 'undefined' && typeof result !== 'undefined'){ %>

      <% include presets/catalog_presets/category %>
    <% }else{ %>

      <% include presets/catalog_presets/index.ejs %>
    <% } %>
  </body>
</html>
