<!DOCTYPE html>
<html>
  <head>
    <% include presets/head %>
  </head>
  <body>
    <% <!-- Display a specific category --> %>
    <% if(typeof category !== 'undefined'){ %>

      <% include presets/catalog_presets/category %>

    <% <!-- Display catalog index  --> %>
    <% }else{ %>

      <% include presets/catalog_presets/index %>
      
    <% } %>
  </body>
</html>
