/* Body styling */



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(192, 192, 192, 0.315);
}



/* Typography */



h1, h2, h3, h4 {
  font-weight: normal;
  text-align: center;
  margin: 0px;
  font-family: "Antic";
}

i.material-icons {
  position: absolute;
  left: 10px;
  color: rgba(0, 0, 0, 0.425);
}



/* Header styling */



.header {
  background-color: rgb(2, 119, 189);
  font-family: "Antic";
}

/* main title */
.header h1{
  color: white;
}

ul.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.navi li {
  display: inline;
}

.navi a {
  display: inline-block;
  padding: 10px 15px;
}

.navi a:link, .navi a:visited {
  color: white;
  text-decoration: none;
}

.navi a:hover {
  background-color: rgba(0, 0, 0, 0.205);
}



/* Main section styling */

/* windows headings */
#catalog_small > h2, #sign_in > h2 {
  font-size: 24px;
  padding: 12px;
  color: rgba(0, 0, 0, 0.525);
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}

/* Catalog small window */
#catalog_small {
  background-color: white;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.411);
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  overflow: hidden;
}

div#preview_images {
  padding: 25px 15px 15px;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

div#preview_images img {
  width: 260px;
  height: 400px;
}

a#arrow_left, a#arrow_right {
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.609);
  padding: 10px;
  border-radius: 35px;
  position: absolute;
  top: 48%;
  font-weight: bold;
  color: black;
}

a#arrow_left:hover, a#arrow_right:hover {
  background-color: white;  
}

a#arrow_left {
  left: 20px;
}

a#arrow_right {
  right: 20px;
}

a#see_full_catalog {
  display: inline-block;
  margin: 5px;
  font-size: 17px;
  color: rgb(2, 119, 189);
}

a#see_full_catalog:hover {
  text-decoration: none;
}

/* Sign in window */
#sign_in {
  background-color: white;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.411);
  margin-top: 15px;
  margin-bottom: 15px;
}

div#form_sign_in{
  text-align: center;
  padding: 25px;
}

div#form_sign_in p {
  margin: 10px;
  font-size: 17px;
}

div#form_sign_in input {
  margin: 5px;
}

