/* Body styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header styling */

.header {
  background-color: #0277bd;
}

.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.navi li {
  display: inline;
}

li a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(0, 0, 0, 0.205);
  text-decoration: none;
}

li a:link, li a:visited {
  color: white;
}


/* Main section styling */

.catalog_small {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.411);
  margin-top: 15px;
}

.sign_in {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.411);
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-weight: normal;
  text-align: center;
  margin: 0px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
}