    <% <!-- Include the header --> %>

    <% include ../header.ejs %>

    <% <!-- Main section --> %>

    <div class = "row">
        <div class="col-xs-12 home_wrapper">

            <% <!-- Popular books window --> %>

            <div class="row">
                <div class="window col-md-8 col-md-offset-2">
                    
                    <!-- Title -->
                    <h2 class = "window_title">
                        <i class="material-icons">library_books</i>
                        Popular Books
                        <!-- Toggle button -->
                        <a href = "#" class = "material-icons toggle_button"
                        title = "Toggle">keyboard_arrow_up</a>
                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">
                        <div id = "popular_books_placeholder">
                            <img src="/images/books/Death Wave.jpg">
                            <img src="/images/books/Apes And Angels.jpg">
                            <img src="/images/books/The Name of the Wind (The Kingkiller Chronicle, 1).jpg">
                            <img src="/images/books/The Wise Man's Fear (The Kingkiller Chronicle, 2).jpg">
                            <img src="/images/books/The Slow Regard of Silent Things (Kingkiller Chronicle).jpg">
                            <a href = "#" id = "arrow_left" class = "material-icons">keyboard_arrow_left</a>
                            <a href = "#" id = "arrow_right" class = "material-icons">keyboard_arrow_right</a>
                        </div>
                        <a href="/catalog" id="see_full_catalog" title = "See the full catalog">See full catalog</a>
                    </div>

                </div>
            </div>
            
            <% <!-- Sign in window --> %>

            <div class="row">
                <div class="window col-md-8 col-md-offset-2">

                    <!-- Title -->
                    <h2 class = "window_title">
                        <i class = "material-icons">account_circle</i>
                        Sign in
                        <!-- Toggle button -->
                        <a href = "#" class = "material-icons toggle_button"
                        title = "Toggle">keyboard_arrow_up</a>
                    </h2>

                    <!-- Window body -->
                    <div class = "window_body">
                        <div id = "sign_in_placeholder">
                            <p>Sign in with your account.</p>
                            <label for = "username">Username:</label>
                            <input  type = "text" id = "username"></input>
                            <br>
                            <label for = "password">Password:</label>
                            <input type = "password" id = "password"></input>
                            <br>
                            <input type = "submit" value = "Submit"></input>
                        </div>
                    </div>

                </div>
            </div>


        </div>  
    </div>


<% <!--Closing tag for the fluid container  --> %>
</div>