
<div class = "header">
    <ul class = "nav">
        <li><a href="/">Home</a></li>
        <li><a href="/">Catalog</a></li>
        <li><a href="#">Admin</a></li>
    </ul>
    <!-- <div class="criteria">
        <select>
            <option>Author</option>
        </select>
        <select>
            <option>Genre</option>
        </select>
        <input type = "text" placeholder="Search here..."></input>
    </div> -->
</div>