
    <title>Movies</title>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/Grids/bootstrap-min.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/javascripts/jquery/jquery-3.2.1.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet'>
    <script src="/javascripts/jquery/my_jquery.js"></script>
    
