<!-- The closing tag for the fluid container is in the page body preset -->
<div class = "container-fluid">

    <div class="row">
        <div class = "col-xs-12 header">
                <ul class = "navi">
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
                <h3><%= title %></h3>
        </div>
    </div>
