<!-- The closing tag for the fluid container is in the page body preset -->
<div class = "container-fluid">

    <div class = "row">
        <div class = "col-xs-12 header">

            <div class = "navi">
                    
                <a href = "/">Home</a>
                    
                <a href = "/catalog">Catalog</a>
                    
                <a href = "/admin">Admin</a>
                    
                <a href = "#">Sign in</a>

                <a href = "#" class = "icon">&#9776;</a>
                    
            </div>

            <h1><%= title %></h1>

        </div>
    </div>
