<% <!-- The closing tag for the fluid container is in the page body preset --> %>
<div class = "container-fluid">

    <div class = "row header">
        <div class = "col-xs-12">

            <div class = "navi">
                    
                <a href = "/">Home</a>
                    
                <a href = "/catalog">Catalog</a>
                    
                <a href = "/admin">Admin</a>
                    
                <a href = "#" class = "icon">&#9776;</a>
                    
            </div>

        </div>
    </div>
