<!-- Include the header -->
<% include header.ejs %>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 catalog_small">
            <h3>Small catalog</h3>
            <p>Small catalog here...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 sign_in">
            <h3>Sign-in window</h3>
            <p>Sign in here...</p>
        </div>

    </div>    
    
<!--Closing tag for the fluid container  -->
</div>